.card.mb-3
  .card-header Modify a milestone for users
  .card-body
    .alert.alert-info Modifying an existing milestone will result in it being removed from users that no longer qualify
    = render 'milestones/form'
