%section
  .card.mb-3
    .card-header Issues or Suggestions?
    .card-body
      If you're running into an issue with the site, please email us
      with a description of the problem. 
%section
  .card.mb-3
    .card-header Want to Help?
    .card-body
      %p
        The biggest thing most people can do to help right now is share and encourage growth.
        This is the kind of platform where just sharing it on Facebook is unfortunately not likely to
        see that much action.
        Your best bet is to send out a personalized email explaining what the challenge is, why you
        think it's important, and asking your friends to sign up. That said, social sharing and promoting
        the hashtag on Instagram is still helpful and much appreciated.
      %p
        If you're involved with an organization
        in the outdoor space that you think may be interested in supporting our message, please get in
        touch and let's talk about the ways we can support each other.
      %p
        We're also looking for corporate support through fundraising -- i.e.
        for every million vertical feet our users pledge to gain car-free, X company will donate
        $100 to a climate advocacy or mitigation non-profit.
        If you're interested in supporting the Car Free Challenge in this way, please contact us.
%section
  = mail_to 'nick@thecarfreechallenge.com', nil, class: 'btn btn-primary btn-block'
