%section
  .card.mb-3
    .card-header Issues or Suggestions?
    .card-body
      If you're running into an issue with the site, please email us
      with a description of the problem. 
%section
  .card.mb-3
    .card-header Want to Help?
    .card-body
      %p
        Share with your friends and don't forget to tag your activities on Strava! We greatly
        appreciate you promoting your activities and using the hashtag #CarFreeChallenge on
        all social platforms so we can continue to spread the word and achieve our mission of
        environmentally friendly activities, just beyond your front door!
%section
  = mail_to 'info@barueat.com', nil, class: 'btn btn-primary btn-block'
