@import '1st_load_framework';
@import 'datatables.min';
@import 'sb-admin';
@import 'activities';
@import 'goals';
@import 'visitors';
@import 'users';
@import 'milestones';
@import "social-share-button";

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.sticky:before,
.sticky:after {
  content: '';
  display: table;
}

body {
  position: relative;
  height: auto;
}

header.bg-image-full {
  margin-top: 56px;
}

.btn-strava {
  background-color: #fc4c02;
  border-color: #fc4c02;
  color: white;
}


.field_with_errors {
  padding: 2px;
  background-color: red;
}

// generic social links styling
.social-menu-container {
  ul {
    list-style-type: none;
    padding: 0;
    li {
      display: inline-block;
      a {
        color: white;
        font-size: 40px;
        margin: 0 4px;

        svg {
          fill: currentColor;
          height: 1em;
          width: 1em;
        }
      }
    }
  }
}

// social links styling specific to logged in app
li#appSocialLinks {
  @include media-breakpoint-up(lg) {
    position: fixed;
    bottom: 56px;
    text-align: center;
  }
  @include media-breakpoint-down(lg) {
    margin-left: -8px;
  }
}

.navbar-brand {
  max-width: 80%;
}