.bg-image-full {
  height: 400px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: white;
}
@for $i from 1 through 5 {
  .landing-image-#{$i} {
    background-image: image-url('landing-pg-#{$i}.jpg');
  }
}

.users-total {
  height: 300px;
  width: 300px;
  line-height: 300px;
  border-radius: 50%;
  text-align: center;
  font-size: 32px;
  border: 2px solid #666;
}
.numberCircle {
  display:inline-block;
  border-radius:50%;
  border:2px solid;
  font-size:32px;
  width: 100%;
  text-align: center;
}
.numberCircle:before,
.numberCircle:after {
  content:'\200B';
  display:inline-block;
  line-height:0px;
  padding-top:50%;
  padding-bottom:50%;
}

.numberCircle:before {
  padding-left:8px;
}
.numberCircle:after {
  padding-right:8px;
}

#landing_header {
  .header-text {
    @extend .rounded;
    padding: 10px;
    background-color: rgba(52, 58, 64, 0.4);
    h1 {
      @include media-breakpoint-down(md) {
        font-size: 4.5rem;
      }
      @include media-breakpoint-down(xs) {
        font-size: 2.5rem;
      }
    }
  }
}
