#landing_header.jumbotron {
  background-image: url(landing-page-header.jpg);
  color: white;
  background-position: 0% 25%;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: black 0.3em 0.3em 0.3em;
}
