.bg-image-full {
  height: 230px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-image: image-url('landing-page-header.jpg');
  color: white;
}
