%h1 + Log Progress
.card.card-block.bg-light
  .card-body
    This isn't meant to be an activity tracker app. You can log every
    activity here (but if you're doing that, I'd recommend just signing up for
    = link_to 'Strava', 'http://www.strava.com'
    instead), or you can keep track elsewhere and just log vertical gain and/or distance
    here as often as you want your progress to update. You don't need a one-to-one correlation
    between activities and "progress", it's just for tracking your effort towards your goal.

%hr

= render 'activities/form'
