- if user_signed_in?
  %ul.navbar-nav.navbar-sidenav
    %li.nav-item{ class: (controller_name == 'home' ? 'active' : '') }
      = link_to 'Dashboard', root_path, class: 'nav-link'
    %li.nav-item{ class: (controller_name == 'activities' ? 'active' : '') }
      = link_to 'Log Your Progress', activities_path, class: 'nav-link'
    %li.nav-item#appSocialLinks
      = render 'layouts/social_links'
