%nav.navbar.navbar-light.navbar-expand-lg
  %button.navbar-toggler{ type: "button", data: { toggle: "collapse", target: "#navbarNav" },
    aria: { expanded: "false", label: "Toggle navigation" }}
    %span.navbar-toggler-icon
  .navbar-collapse.collapse
    %ul.navbar-nav
      %li.nav-item Hello
    = render 'layouts/user_navigation'
