%nav#mainNav.navbar.navbar-dark.bg-primary.fixed-top.navbar-expand-lg
  = link_to root_path, class: 'navbar-brand' do
    = image_tag 'cfc-logo-white.png', alt: '#CarFreeChallenge'
  %button.navbar-toggler.navbar-toggler-right{ type: "button", data: { toggle: "collapse", target: "#navbarResponsive" },
    aria: { expanded: "false", label: "Toggle navigation", controls: 'navbarResponsive' }}
    %span.navbar-toggler-icon
  #navbarResponsive.navbar-collapse.collapse
    = render 'layouts/app_navigation'
    = render 'layouts/user_navigation'
