-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-light.navbar-expand-lg
  .container
    %button.navbar-toggler{ type: "button", data: { toggle: "collapse", target: "#navbarNav" },
      aria: { expanded: "false", label: "Toggle navigation" }}
      %span.navbar-toggler-icon
    .navbar-collapse.collapse
      %ul.navbar-nav
        %li.nav-item Hello
      = render 'layouts/user_navigation'
